* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
    background-color: #52c4e9;
}
.form{
    padding-top: 100px;
    
}
/* .form-group{
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
} */
